allow xiaomiparts_app {
  storagestats_service
  storagestats_service
}:service_manager find;

allow xiaomiparts_app {
  cgroup
  sysfs_leds
  sysfs_thermal
}:file rw_file_perms;
